.up {
    padding: 10px;
    padding-left: 30px;
}

.main-content {
    border-style: outset;
    padding: 3px;
    border-width: 5px;
    color: darkcyan;
}

.right-content {
    border-style: outset;
    padding: 8px;
    border-width: 5px;
    
    color: darkcyan;  
}

.question {
    border-style: outset;
    padding: 5px;
    color: rgba(21, 56, 56, 0.507);
}

.answer {
  border-style: dotted;
  padding: 3px;
  color: rgba(21, 56, 56, 0.507);
}

.row {
    padding: 5px;
}

.avatar {
    margin-left: 18px;
    margin-top: 8px;
    border-radius: 15px;
    margin-right: 8px;
}

.margine {
  margin-top: 10px;
  margin-left: 40px;
}

.marginal {
  margin-bottom: 5px;
}

.small-avatar {
    border-radius: 5px;
}

.column {
    float: left; 
}
 
.padding-left-5 {
    padding-left: 5px;
}
.right-quest {
    float: right; 
}

.left{  
  width: 69%;  
}

.just-border{  
    width: 3%;  
  }
.right{  
    width: 22%;  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pagination {
    display: inline-block;
    padding-left: 20px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .tagging {
    display: inline-block;
    padding-left: 20px;
  }
  
  .tagging a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .b {

  }

  b:active {
        background-color: yellow;
  }





a {
    color: #c33;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
}

.urists {
    margin: 50px auto 0px auto; /* отступаем сверху 50px и выравниваем по центру */
    width: 400px;
}


.bubble { /* Это основной контейнер с закругленными уголками */
    clear: both;
    margin: 0px auto;
    width: 350px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90; /* будет отображаться под лентой заголовка (класс .rectangle, у него z-index: 100) */
}
.rectangle {
    background: #7f9db9;
    height: 50px;
    width: 380px;
    position: relative;
    left: -15px;
    top: 30px;
    float: left;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    z-index: 100; /* показываем над всеми элементами */

    font-size: 30px;
    line-height: 40px;
    color: #fff;
    padding-top: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.triangle-l { /* уголочек под зголовком слева */
    border-color: transparent #7d90a3 transparent transparent;
    border-style:solid;
    border-width:15px;
    height: 0px;
    width: 0px;
    position: relative;
    left: -30px;
    top: 65px;
    z-index: -1; /* спрячем под основной блок */
}
.triangle-r { /* уголочек под зголовком справа */
    border-color: transparent transparent transparent #7d90a3;
    border-style:solid;
    border-width:15px;
    height: 0px;
    width: 0px;
    position: relative;
    left: 350px;
    top: 35px;
    z-index: -1; /* спрячем под основной блок */
}
.info {
    padding: 50px 25px 15px 25px;
}
.info h2 {
    font-size: 20px;
}
/* Добавим стили для меню */
.menu {
    position: relative;
    top:7px;
    left: 50px;
    z-index: 80; /* Спрячемм под основной блок с закругленными уголками */
}
.menu li {
    -webkit-transform: rotate(-45deg); /* Повернем элемент в вебките */
    -moz-transform: rotate(-45deg); /* Повернем элемент в Мозилле */
    transform: rotate(-45deg);
    width: 50px;
    overflow: hidden;
    margin: 10px 0px;
    padding: 5px 5px 5px 18px;
    float: left;
    background: #7f9db9;
    text-align: right;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    display:block;
}
.menu li.l1 {
    background: rgba(131, 178, 51, 0.65);
}
.menu li.l1:hover {
    background: rgb(131,178,51);
}
.menu li.l2 {
    background: rgba(196, 89, 30, 0.65);
}
.menu li.l2:hover {
    background: rgb(196,89,30);
}
.menu li.l3 {
    background: rgba(65, 117, 160, 0.65);
}
.menu li.l3:hover {
    background: rgb(65,117,160);
}