{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="up">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"><a style="color:rgb(248, 248, 247)" 
        href="{% url 'new' %}">Создать Новый Вопрос</a></button>
      <button type="button" href="{% url 'index' %}" class="btn btn-secondary">Мощные вопросы</button>
    </div>
  </div>

  {% if messages %}
  <ul>
    {% for message in messages %}
      <li class="{{ message.tags }} btn btn-outline-info ml-2">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

  <div class="container main-content">

      {% for quest in questions %}
      <!--{%if quest.published %}-->

    <div class="row">
      <div class="col-10">
        <div class="question">
          <div class="row">
            <div class="col-2">
              <img class="avatar" src="{% static "public/kitten.jpg" %}" width="120" height="110" alt="kitten">
              <div class="margine">
                
              <button type="button" href="{% url 'index' %}" class="btn btn-outline-primary">
                {{ quest.author }}
            </button>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-9">
              <h2><a href="{% url 'question' pk=quest.pk %}">{{ quest.question }} </a></h2> <!--/question/{{quest.pk}}-->
              <p>
                <a>{{ quest.description }}</a>
              </p>
              <p><div class="pagination">
                
                {% for tag in quest.tags.all %}
                  <a href='#'>{{ tag.tag }}</a>
                {% endfor %}
                {% for x in quest.answers %}
                    {{x.answer}}
                {% endfor %}
                
                </div></p>
                <p>{{ quest.creation_time }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ">
          <br />
          <div class="marginal">
          <button type="button" class="btn btn-outline-primary">
              Ответы <span class="badge badge-light">{{quest.answers_set.count}}</span>
          </button>
        </div>
        <div class="marginal">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success"><strong> + </strong></button>
              <button type="button" class="btn btn-danger"><strong> - </strong></button>
            </div>
          </div>
            <div class="marginal">
          <button type="button" class="btn btn-outline-danger">
              Рейтинг <span class="badge badge-light">{{ quest.rating }}</span>
          </button>
        </div>
        <button type="button" class="btn btn-outline-primary">
            Просмотры <span class="badge badge-light">{{quest.views}}</span>
        </button>
      </div>
    </div>

   <!-- {% endif %}-->
    {% endfor %}


  </div>
{% endblock %}