{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="up">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-secondary">asked by</button>
      <button type="button" class="btn btn-secondary">{{object.author}}</button>
    </div>
  </div>
                                          
    {% if messages %}
  <ul>
    {% for message in messages %}
      <li class="{{ message.tags }} btn btn-outline-info ml-2">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

  <div class="container main-content">
    <div class="row">
      <div class="col-10">
        <div class="question">
          <div class="row">
            <div class="col-2">
              <img class="avatar" src="{% static "public/kitten.jpg" %}" width="120" height="110" alt="kitten">
            </div>
            <div class="col-1"></div>
            <div class="col-9">
                
              <h2><a href=" ">{{object.question}}</a></h2>
              <p>{{object.description}}</p>
              <p><div class="pagination">
                 {% for tag in object.tags.all %}
                  <a href="#">{{tag}}</a>
                {% endfor %}
                </div></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ">
          <button type="button" class="btn btn-outline-primary">
              Ответы <span class="badge badge-light">{{object.answers_set.count}}</span>
          </button>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success"><strong> + </strong></button>
              <button type="button" class="btn btn-danger"><strong> - </strong></button>
            </div>
          <button type="button" class="btn btn-outline-danger">
              Рейтинг <span class="badge badge-light">{{object.rating}}</span>
          </button>
          <button type="button" class="btn btn-outline-primary">
              Просмотры <span class="badge badge-light">{{object.views}}</span>
          </button>
      </div>
    </div>

<form action="post" method="post">
        {% csrf_token %}
{% for answer in object.answers_set.all %} <!--how does it works????-->
  <div class="row">
      <div class="col-10">
        <div class="answer">
          <div class="row">
            <div class="col-2">

              <img class="avatar" src="{% static "public/kitten.jpg" %}" width="120" height="110" alt="kitten">

            </div>
            <div class="col-1"></div>
            <div class="col-9">
              
              <h3><a href="">{{answer.author}}</a></h3>
              <p>{{answer.answer}}</p>

                <input type="checkbox" name="choices" value="{{answer.right_answer}}">
               
              <p>{{answer.creation_time}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
      <button type="submit" name="right" class="btn btn-success margine">right answer</button>

  </form>
  
  </div>
  <a href="/new_answer/{{object.id}}" class="margine btn btn-outline-info ml-2 margin">Add Answer</a>

  {{increment}}
{% endblock %}